

#fistContainer {
    background-color: #3aafa9;
}

#secondContainer {
    margin-bottom: 20px;
}

.active {
    color: #fff;
    background-color: #3aafa9 !important;
}

#imageOfMe {
    width: 100%;
    height: auto;
    border-radius: 100px 0;
}

#mainHeader {
    background-color: #17252a;
}

.nav-pills {
    background-color: #2b7a78;
}

.nav-link {
    color: #17252a;
    color: #2b7a78;
    color: #3aafa9;
    color: #def2f1;
    color: #feffff;
}

#inbodyHeader {
    background: url('../images/keyboard.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 175px;
}

#imgCard {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 53% 53% 10px 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#imgOfMeCardBody {
    background-color: #e9ecef;
    border-radius: 100px 0;
}
#myName{
    text-align: center !important;
}
#displayTitleName {
    background-color: black;
    color: black;
    font-size: 40px;
   
    font-weight: bold;
    background-color: white;
}

.navbar-toggler {
    background-color: black;
}

.navbar-toggler-icon {
    background-color: black;
}



.init {
    background-color: #e9ecef;
}

.jumbotron {
    margin: 20px 20px;
    border-radius: 0px 100px !important;
}

.project-display {
    margin-top: 20px;
}

.project-display {
    border-radius: 50px 0 !important;
    background-color: #e9ecef !important;
}

.img-project-display {
    border-radius: 50px 0 !important;
}

body {
    background-color: lightslategrey !important;
}

.slick-slider {
    background-color: #3aafa9;
}


.Get-Page{
    margin-left: 50px;
}

.navbar-black{
    background-color: black;
}

#resumeOuterBody{
    background-color:#3aafa9 !important; 
}

#resumeInnerBody{
    background-color:white !important;
}

.btn-primary{
    background-color: #3aafa9 !important;
}
#projectDisplayContainer{
    background-color:#2b7a78;
}
.project-display-projecthtml
{
    margin: 30px 0 0 40px;
}

#mobileHeader{
   display: none;
}
#smallbreake{
    height: 10px;
    background-color: #3aafa9;
    
}

#footer-card {
   margin-top: -30px;
   height: 50px;
   background-color: #2b7a78;
}
.card-footer {
    height: 20px;
    background-color: #2b7a78;
}

@media (max-width: 770px) {
    
    .display-Container-col{
        text-align: center !important;
    }
    .project-display-projecthtml
{
    margin: 10px;
    width: 18rem !important;
    display: inline-block !important;
  
}
    .nonMobileHeader{
   display: none;
    }
    #mobileHeader{
    display: block;
    }
    .jumbotron {
        margin: 10px 5px;
    }
    #imgCard {
        margin-left: auto;
        margin-right: auto;
        display: block;
        border-radius: 53% 53% 0 0;
    }
}